<%= content_for :splash do %>
 <div class="bg-content"><%= render 'shared/splash' %></div>
<% end %>

<div class="sheet contain">
	<header>
		<h1>Unfortunately that link is no longer valid.</h1>
	</header>

	<div>
		<p>If this is a mistake, please reach out to us.</p>

		<%= link_to "Return home", root_path, class: 'primary' %>
	</div>
</div>

