<% cache @breadboards do %>
<h1>Breadboards</h1>

<%= link_to 'Start a new breadboard', new_breadboard_path, class: 'primary' %>

<div class="preview-grid">
  <%= render @breadboards %>
</div>
<% end %>