<div class="contain">
  <%= image_tag 'logo.svg', class: 'logo small' %>
	<h1>You&apos;re all set up!</h1>

	<div>
		<p>We dropping you a welcome email so you have my contact information if you have any questions.</p>

    <br />
		<%= link_to "Let's get breadboarding!", authenticated_root_path, class: 'cta' %>
	</div>
</div>

