<h3>Welcome to your new Breadboarding account!</h3>

<p>
	Enjoy making lots of breadboards! We&apos;d love feedback if you have it! Just reply to this email with any thoughts and recommendations.
</p>