<%= image_tag 'logo.svg', class: 'logo' %>

<h1>A simple breadboarding app</h1>

<h2>Shaping made easy! Quickly make breadboards to explain your pitch.</h2>
<p>Anyone with your domain can sign up to join your account.</p>

<section>
  <%= link_to 'Log In', sign_in_path, class: 'cta' %>
  <br />
  <%= link_to 'Already have someone signed up with your domain? Sign Up!', sign_up_path %>
</section>