<%= image_tag 'logo.svg', class: 'logo' %>

<h1>Privacy Policy</h1>

<article>
<p>
  Privacy is no joke! These days it seems like everyone wants to track you or sell your data. This app is meant to be
  simply a free and basic app to use. There is no analytics and there are no ads. 
</p>

<b>How do you make money then?</b>
<p>
  Would you believe me if I said that not everything has to be done for profit? This is hosted off a free Heroku dyno
  with a free database. With zero hosting fees there doesn't need to be profit. 
</p>

<p>
  Additionally we don't want your data. Meaning you can keep it! We don't sell it or use it in any way. 
  We simply provide a basic app to allow you to breadboard. If you want your data deleted, please reach out to me
  at jacob@humphreyconsulting.com. We will automatically delete your account after 1 year of no use. 
</p>

<p>
  We may change this policy in the future to update changed hosting costs and possibly using your data in
  generic ways to show fun metrics on the home page (ex: "look how many people are using this!"), but our mission
  to keep your data as private as possible will hold true. We will also notify you of any changes and you will be
  prompted at sign in to read and accept the changes.
</p>
</article>