<%= image_tag 'logo.svg', class: 'logo' %>

<h1>Terms of Service</h1>

<article>
<p>
  Please read these terms of service ("terms", "terms of service") carefully before using the Breadboarding website (the "service").
</p>

<h3>Conditions of Use</h3>
<p>
  Breadboarding will provide a simple breadboarding app, which you can use. Every time you visit this website and use its services, you accept the following conditions.
</p>

<p>
  The content you produce is yours and is not public. You own full ownership to your data, you can read more about this in our <%= link_to "privacy policy", privacy_policy_path %>. 
</p>

<h3>Reasonable Use</h3>
<p>
Customers will not try to hack or maliciously attempt to distrupt the services for other customers. Doing so will result in terminating this agreement and the user will not be able to use the software. Customers will use software under "reasonable" use. We do not support hate speech, crime, or other malicious activity on Breadboarding. Conducting those kinds of business on this app will result in being removed. If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password. We reserve all rights to terminate accounts if we suspect malicious use.
</p>
</article>