<p>
	Hi there,
	<br/>
	<br/>
	This is just to notify you that your password was reset on your <%= app_name %> account. 
	<br />
	<br />
	<b>If you did not do this, reply to this email immediately.</b> 
</p>
