<p>
	Hi there,
	<br/>
	<br/>
	Someone has requested to reset the password for your <%= app_name %> account. You can do this through the link below. 
</p>

<%= link_to 'Reset my password', edit_identities_password_reset_url(token: @token) %>

<p>
	If you didn&apos;t request this, please ignore this email. 
	<br />
	<b>Your password won&apos;t change until you access the link above and create a new one.</b>
</p>