@import 'reset';

@font-face {
    font-family: 'Permanent Marker';
    src: font-url('PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Architects Daughter';
    src: font-url('ArchitectsDaughter-Regular.ttf') format('truetype');
}

:root {
  --base-font-family: "noteworthy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --heavy-font-family: 'Permanent Marker', var(--base-font-family);
  --font-family: 'Architects Daughter', var(--base-font-family);
  --font-size-base: 11px;
  --font-size-xx-small: 1.2rem;
  --font-size-x-small: 1.4rem;
  --font-size-small: 1.6rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
  --font-size-x-large: 2.8rem;
  --font-size-xx-large: 4rem;
  
  --rgb-beige: 255, 252, 239;
  --rgb-primary: 0, 0, 0;
  --rbg-primary-opposite: 255, 255, 255;
  --rgb-red: 246, 57, 57;
  
  --color-beige: rgb(var(--rgb-beige));
  --color-primary: rgb(var(--rgb-primary));
  --color-primary-opposite: rgb(var(--rbg-primary-opposite));
  --color-red: rgb(var(--rgb-red));
  
  --contain-width: 600px;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--font-size-base);
  background: var(--color-beige);
  color: var(--color-primary);
  height: 100%;
}

body {
  font-size: var(--font-size-medium);
  text-align: center;
  height: 100%;
  background-image: image-url("home-tile.png");
  background-size: 150px;
  background-position: calc(50% - 75px) 0%;
  padding: 2rem;
}

article {
  max-width: var(--contain-width);
  text-align: justify;
  margin: auto;
  padding-bottom: 3rem;
  
  h3 {
    font-weight: bold;
    margin-top: 2rem;
  }
  
  a { font-weight: bold;}
}

h1 { font-size: var(--font-size-xx-large) }
h2 { font-size: var(--font-size-x-large) }
h3 { font-size: var(--font-size-large) }
h4 { font-size: var(--font-size-medium) }
h5 { font-size: var(--font-size-small) }

h1, .thick {
  font-weight: bold;
  font-family: var(--heavy-font-family);
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.25em;
}

h1.error {
  color: var(--color-red);
}

section.legal {
  font-size: var(--font-size-x-small);
  opacity: 0.8;
  padding: 6rem 0;
  display: block;
  
  h4 {
    font-weight: bold;
    font-family: var(--heavy-font-family);
  }
}

a, button, input[type="submit"] {
  color: black;
  cursor: pointer;
  
  &.cta {
    padding: 0.5em 1em;
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-primary-opposite);
    display: inline-block;
    font-weight: bold;
    font-family: var(--heavy-font-family);
    font-size: var(--font-size-large);
    margin: 0.5em 0;
  
    border: 0;
    -webkit-appearance: none;
    appearance: none;
  }
}

img.logo {
  width: 125px;
  height: 125px;
  margin: 2rem;
  
  &.small {
    width: 75px;
    height: 75px;
  }
}

section {
  margin: 3rem;
}

.input {
	text-align: center;
  margin: auto;
	margin-bottom: 1rem;
	margin-top: 3rem;
	
	label {
    font-weight: bold;
		font-size: var(--font-size-medium);
		display: block;
		margin-bottom: 1rem;
	}
	
	input {
		display: block;
    background: transparent;
		border: 0;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
    font-size: var(--font-size-x-large);
    padding: 0.5rem 0rem;
		outline: none;
		text-align: center;
		width: 100%;
		color: var(--color-primary);
    font-family: var(--base-font-family);

    &::placeholder {
      font-style: italic;
      color: rgba(var(--rgb-primary), 0.5);
      font-family: var(--base-font-family);
      font-weight: 300;
    }
	}

  &.block {
    width: var(--contain-width);
  }
}

.slide-in {
	animation: slide-in 0.5s both;
}

.contain {
	max-width: var(--contain-width);
	width: 100%;
  margin: auto;
}

@keyframes slide-in {
	0% {
      opacity:0
  }

  40% {
      transform: translateX(320px);
      opacity:0
  }

  80% {
      transform: translateX(0);
      opacity:1
  }
}

@media only screen and (max-width: 800px) {
	:root {
		--contain-width: 100%;
    --font-size-base: 9px;
	}
}